body {
    background-image:  url(img/images\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    

}



h1 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
}
p {
    color: aliceblue;

}
.mybox{
   background-color: rgba(255,255,255,0.7);
padding: 20px;
margin: 30px auto;

border-radius: 10px;
width: fit-content;

   
}
.my-button:hover {
    background-color: #ffffff;
    transform: 0.2;
    
}
input {
    padding: 8px;
    margin-top: 5px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

